﻿/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    background-color: #5c87b2;
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link
{
    color: #034af3;
    text-decoration: underline;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    color: #12eb87;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
    margin: 0px;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;    
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
    height:50px;
}

#header h1
{
    font-weight: bold;
    
    margin: 0;
    color: #fff;
    border: none;
    
    font-size: 32px !important;
}

#main
{
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/

table 
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

table td 
{
  padding: 5px;   
  border: solid 1px #e8eef4;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#menucontainer
{
    margin-top:40px;
}

div#title
{
    display:block;
    float:left;
    text-align:left;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label
{
    margin: 1em 0 0 0;
}

.display-field,
.editor-field
{
    margin:0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}




#login
{
    margin:0 auto;
    width:400px;
    padding:14px;
}

label
{
    display:block;
    font-weight:bold;
    text-align:right;
    width:140px;
    float:left;
}

.small
{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:right;
    width:140px;
}

input
{
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:200px;
    margin:2px 0 20px 10px;
}

#log, #events, #messages
{
    height: 300px;
    overflow: auto;
    border: 1px solid #666;
    background-color: #ccc;   
}

#container
{
    position: relative;
    width: 100%;
    padding: 0px;
}

#login 
{
    position: absolute;
    left: 0px;
    height: 400px;
    width: 400px;    
    border: 1px solid #666;
    margin: 0px;
    padding: 5px;
}

#contacts     
{    
    height: 400px;   
    margin-left: 450px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    overflow: auto;
    border: 1px solid #666;
    padding: 5px;
}

.send {
    color: Red;
}

.recv {
    color: Blue;
}

.jid {
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    width:200px;
}

.name {
    margin-left: 10px;
    display: inline-block;
    width: 150px;
}

.show
{
    display: inline-block;
    margin-left: 10px;
    width: 50px;
}

.status 
{
    display: inline-block;
    margin-left: 10px;
}

/* Tabs */
#tabcontainer {  
    margin: 50px auto;  
    height: 400px;
}  
#tabcontainer ul  
{
    padding: 0px;
    list-style: none;  
    list-style-position: outside;  
}  
#tabcontainer ul.tabs li{  
    float: left;  
    margin-right: 5px;  
    margin-bottom: -1px;  
}  
#tabcontainer ul.tabs li{  
    font-weight: 700;  
    display: block;  
    padding: 5px 10px 5px 10px;  
    background: #2f2f2f;  
    margin-bottom: -1px;  
    border: 1px solid #d0ccc9;  
    border-width: 1px 1px 1px 1px;  
    position: relative;  
    color: white;  
    cursor: pointer;  
}  

#tabcontainer ul.tabs li.active{  
    background: #fff;  
    top: 1px;  
    border-bottom: 0;  
    color: #5f95ef;  
}  

.content{  
    margin: 0pt auto;  
    background: #efefef;  
    background: #fff;  
    border: 1px solid #d0ccc9;  
    text-align: left;  
    padding: 10px;  
    padding-top: 50px;  
    padding-bottom: 20px;  
    font-size: 11px;  
}  
.content h1{  
    line-height: 1em;  
    vertical-align: middle;  
    height: 48px;  
    padding: 10px 10px 10px 52px;  
    font-size: 32px;  
}  

.from {
    font-weight: bold;
    color: Red;
}

.message {    
    margin-left: 10px;
}

/* show types */
.show {
    padding-left: 3px;
}

.rosteritem {
    margin-bottom: 5px;
}

.show.online {
    border-left: 10px solid green;
}

.show.away {
    border-left: 10px solid darkgrey;
}

.show.extendedaway {
    border-left: 10px solid grey;
}

.show.donotdisturb {
    border-left: 10px solid red;
}

.show.iwanttochat {
    border-left: 10px solid yellow;
}

.show.offline {
    border-left: 10px solid black;
}